---
import ThemeToggle from "./ThemeToggle.astro";
import NavActions from "./NavActions.astro";
---

<div id="header-sentinel"></div>

<header
  id="header-layout"
  class="flex flex-row gap-2 justify-center w-full fixed top-1 px-4 z-50"
>
  <div id="header-container" class="flex flex-row flex-wrap gap-2">
    <NavActions />
    <ThemeToggle />
  </div>

  <script src="./headerScript.ts"></script>
</header>
