@import 'tailwindcss';
@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

@theme {
	--color-primary-light: #f0f0f0;
	--color-primary-dark: rgb(25, 0, 27);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	@apply bg-primary-light dark:bg-primary-dark;
}
