---
import SectionRedirector from "../common/SectionRedirector.astro";
import mockup from "./mockup.json";
import ProyectCard from "./ProyectCard.astro";
---

<SectionRedirector address="proyects" />

<section
  id="proyects"
  class="flex flex-col gap-8 justify-center mt-[4vh] mx-auto w-full p-4 md:max-w-2xl lg:max-w-4xl lg:px-0"
>
  <header class="flex flex-col gap-2">
    <h1 class="text-3xl font-bold">Mis proyectos</h1>
    <p>
      Aquí puedes ver algunos de los proyectos que he realizado. Cada uno de
      ellos representa un paso en mi aprendizaje y desarrollo como
      desarrollador.
    </p>
  </header>

  <div
    class="min-h-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center"
  >
    {
      mockup.map((card, index) => (
        <ProyectCard
          id={card.id}
          title={card.title}
          description={card.description}
          image={{ src: card.image.src, alt: card.image.alt }}
          techStack={card.techStack}
        />
      ))
    }
  </div>
</section>
