---
import SectionRedirector from "../common/SectionRedirector.astro";
import ProyectCard from "./ProyectCard.astro";
---

<SectionRedirector address="proyects" />

<section
  id="proyects"
  class="flex flex-col gap-8 justify-center mt-[4vh] mx-auto w-full p-4 md:max-w-2xl lg:max-w-4xl lg:px-0"
>
  <header class="flex flex-col gap-2">
    <h1 class="text-3xl font-bold">Mis proyectos</h1>
    <p>
      Aquí puedes ver algunos de los proyectos que he realizado. Cada uno de
      ellos representa un paso en mi aprendizaje y desarrollo como
      desarrollador.
    </p>
  </header>

  <div
    class="min-h-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center"
  >
    <ProyectCard
      title="Estudiacon!"
      description={`
        EstudiaCon es una plataforma web orientada a la gestión y compartición de publicaciones académicas entre estudiantes.
      `}
      image={{
        src: "/assets/img.png",
        alt: "Imagen del proyecto 1",
      }}
      id="proyecto-1"
    />
  </div>
</section>
