---
	interface Props {
		id: string;
		className?: string;
		ariaLabel?: string;
	}

	const { id, className = '', ariaLabel } = Astro.props;
---
<section
	id={id}
	class={"relative min-h-[100dvh] flex flex-col" + " " + className.trim()}
	aria-label={ariaLabel}
	role="region"
>
	<slot/>
</section>
