---
import ProyectCard from "./ProyectCard.astro";

/*
  title,
  description,
  image = {
    src: "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
    alt: "Vista previa del proyecto Astro",
  },
  id,
  className,
*/
---

<section
  class="flex flex-col gap-y-4 justify-center mx-auto w-full p-4 md:max-w-2xl lg:max-w-4xl lg:px-0"
>
  <header class="flex flex-col">
    <h1 class="text-3xl font-bold">Mis proyectos</h1>
    <p>
      Aquí puedes ver algunos de los proyectos que he realizado. Cada uno de
      ellos representa un paso en mi aprendizaje y desarrollo como
      desarrollador.
    </p>
  </header>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-center"
  >
    <ProyectCard
      title="Proyecto 1"
      description=""
      image={{
        src: "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
        alt: "Imagen del proyecto",
      }}
      id="proyecto-1"
    />
    <ProyectCard
      title="Proyecto 2"
      description=""
      image={{
        src: "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
        alt: "Imagen del proyecto 2",
      }}
      id="proyecto-2"
    />

    <ProyectCard
      title="Proyecto 3"
      description=""
      image={{
        src: "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
        alt: "Imagen del proyecto 3",
      }}
      id="proyecto-3"
    />
  </div>
</section>
