---
import { MoonIcon, Sun } from '@lucide/astro';
---

<button
  class="nav-base-styles aspect-square cursor-pointer rounded-full border p-2"
  aria-label="Cambiar tema"
  title="Cambiar tema"
  type="button"
  id="theme-toggle-button"
>
  <div
    class="relative h-[clamp(0px,3.5vw,1.5rem)] w-[clamp(0px,3.5vw,1.5rem)] overflow-hidden sm:h-6 sm:w-6"
  >
    <MoonIcon
      class="theme-icon rotate-0 text-black opacity-100 dark:-rotate-180 dark:text-white dark:opacity-0"
      id="icon-moon"
    />

    <Sun
      class="theme-icon rotate-0 text-black opacity-0 dark:rotate-180 dark:text-white dark:opacity-100"
      id="icon-sun"
    />
  </div>

  <script>
    import { Theme } from "../../client/types/types";
    const toggleButton = document.getElementById("theme-toggle-button");

    function applyTheme(theme: Theme) {
      const BODY = document.body;
      BODY.setAttribute("data-theme", theme);
    }

    function themeSaved(): Theme {
      const getTheme = localStorage.getItem("theme");
      const isLight = getTheme === Theme.Light;
      const theme: Theme = isLight ? Theme.Light : Theme.Dark;

      return theme;
    }

    function handleToggleTheme() {
      const isLight = themeSaved() === Theme.Light;
      const newTheme: Theme = isLight ? Theme.Dark : Theme.Light;

      localStorage.setItem("theme", newTheme);
      applyTheme(newTheme);
    }

    if (toggleButton) toggleButton.addEventListener("click", handleToggleTheme);
  </script>
</button>

<style>
  .theme-icon {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transition:
      rotate 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }
</style>
