---
	import SkillCard from './SkillCard.astro';
---
<article
	class="relative container mx-auto flex h-full w-full flex-col items-center gap-15 p-4 lg:max-w-6xl"
>
	<div
		class="flex h-full w-full flex-col flex-wrap items-center gap-4 text-sm text-black/60 dark:text-white/75"
	>
		<header class="text-xl font-medium text-black dark:text-white">
			<h3>Habilidades</h3>
		</header>

		<div class="grid grid-cols-3 grid-rows-3 gap-4">
			<SkillCard title="React" icon="âš›ï¸"/>
			<SkillCard title="Tailwind" icon="ðŸŒ¬ï¸"/>
			<SkillCard title="JavaScript" icon="ðŸŸ¨"/>
		</div>
	</div>
</article>
