---
import { Github, Linkedin, Mail } from "@lucide/astro";
---

<footer class="flex flex-row flex-wrap justify-between items-center w-full p-4">
  <aside class="flex flex-row items-center gap-2">
    <p>
      &copy; {new Date().getFullYear()} - Casi todos los derechos reservados.
    </p>
  </aside>
  <nav class="flex flex-row flex-wrap gap-2 justify-end items-center">
    <a
      href="https://github.com/Enmanuel-VE"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
    >
      <Github />
    </a>
    <a
      href="https://www.linkedin.com/in/enmanuel-villanueva-650182353/"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
    >
      <Linkedin />
    </a>
    <a
      href="mailto:enmanuel02estudios@gmail.com"
      rel="noopener noreferrer"
      role="link"
    >
      <Mail />
    </a>
  </nav>
</footer>
