---
import { Moon, Sun } from "@lucide/astro";
const sharedLayoutStyles = `flex flex-row justify-center items-center rounded-full transition-all duration-250 ease-in-out`;

const classNavActions = `${sharedLayoutStyles} px-4`;
const classThemeToggle = `${sharedLayoutStyles} px-2 cursor-pointer`;
---

<div id=`header-sentinel`></div>

<header
  id=`header-layout`
  class=`flex flex-row gap-2 justify-center w-full fixed top-1 px-4 z-50`
>
  <div id=`header-container` class=`flex flex-row flex-wrap gap-2`>
    <div id=`nav-actions` class={classNavActions}>
      <a href="#proyects" class=`p-2 cursor-pointer hover:text-primary`
        >Proyectos</a
      >
      <button class=`p-2 cursor-pointer hover:text-primary`>Certificados</button
      >
      <button class=`p-2 cursor-pointer hover:text-primary`>Sobre mi</button>
      <button class=`p-2 cursor-pointer hover:text-primary`>Contactos</button>
    </div>

    <label for="theme-change" id=`theme-toggle` class={classThemeToggle}>
      <input type=`checkbox` id="theme-change" class=`sr-only peer` />

      <!-- Ícono cuando está desactivado -->
      <Sun
        class=`w-6 h-6 peer-checked:hidden transition-all duration-250 ease-in-out hover:text-primary hover:animate-spin`
      />

      <!-- Ícono cuando está activado -->
      <Moon
        class=`w-6 h-6 hidden peer-checked:inline transition-all duration-250 ease-in-out hover:text-primary`
      />
    </label>
  </div>
  <script src=`./headerScript.ts`></script>
</header>
