---
import { ChevronDown } from "@lucide/astro";
---

<a
  id="scroll-to-proyects"
  role="link"
  href="#anchor-proyects"
  class="transition-all duration-250 ease-in-out absolute bottom-4 left-1/2 transform -translate-x-1/2"
>
  <ChevronDown class="w-[5vh] h-[5vh] opacity-50 animate-bounce" />
</a>
