---
	import ProfileImage from '../molecules/ProfileImage.astro';
	import IconLinter from '../atoms/IconLinter.astro';

	import SectionLayout from '../layouts/SectionLayout.astro';
	import images from '../../data/images';
	import SkillArticle from '../molecules/SkillArticle.astro';
---
<SectionLayout
	className="gap-15 pb-16"
	id="about-me-section"
	ariaLabel="Sobre mí"
>
	<article
		class="relative items-center container w-full mx-auto flex flex-col md:flex-row items-start justify-between gap-16 px-4 py-15 md:py-25 lg:max-w-6xl text-sm text-black/60 dark:text-white/75"
	>
		<section
			class="flex flex-col md:gap-4 sm:gap-6 gap-8 flex-1 md:basis-2/3 md:pr-6"
		>
			<header
				class="relative flex items-center gap-2 text-2xl font-medium text-black justify-start dark:text-white"
			>
				<IconLinter/>
				<h2
					title="¿Quien soy?"
					class="title dark:animate-[ilumination-title_2s_ease-in-out_infinite_alternate]"
				>
					¿Quien soy?
				</h2>
			</header>

			<div
				class="flex flex-col md:gap-4 sm:gap-6 gap-8 text-justify text-pretty sm:text-left"
			>
				<p class="indent-6">
					Soy estudiante de Ingeniería en Sistemas. Me encuentro en el 6.º
					semestre de mi formación como profesional en
					<a
						title="Universidad Nacional Experimental Politécnica de la Fuerza Armada."
						target="_blank"
						rel="noopener noreferrer"
						class="underline hover:text-black dark:hover:text-white"
						href="https://es.wikipedia.org/wiki/Universidad_Nacional_Experimental_Polit%C3%A9cnica_de_la_Fuerza_Armada"
						>UNEFA</a
					>, extensión Punto Fijo. Me especializo en el desarrollo frontend, con
					área de especialidad en React, Tailwind y JavaScript. Me gusta
					desarrollar experiencias visuales para quien vea lo que hago y ver
					cómo la imagen se convierte en una realidad a través del desarrollo.
					Esto último fue la chispa que hizo que me decantara por el desarrollo
					frontend por encima del backend.
				</p>

				<p>
					Mi trabajo se centra en construir experiencias digitales que funcionen
					como soluciones reales. Ayudo a proyectos comerciales y comunitarios a
					establecer una presencia en línea, dotándolos de herramientas web
					desarrolladas con un stack moderno como React, Tailwind y JavaScript,
					que pueden utilizar para conectar con más personas o agilizar sus
					flujos de trabajo.
				</p>

				<p class="hidden lg:block">
					Desde que descubrí la tecnología, me ha impulsado una curiosidad
					constante por entender cómo funciona y cómo puede transformar
					realidades. Cada experiencia abre nuevas puertas, y mi objetivo es
					seguir aprendiendo, aportar soluciones útiles y compartir este camino
					con personas que valoren el impacto de lo digital.
				</p>
			</div>
		</section>

		<ProfileImage
			className="flex-1 md:basis-1/3"
			textPill="Esté de aquí soy yo 👀"
			image={{ src: images.profileImage, alt: "Foto de perfil" }}
		/>
	</article>
	<SkillArticle/>
</SectionLayout>

<style>
	.container {
		align-items: anchor-center;
	}

	@media (width <= 48rem) {
		header {
			justify-content: center;
			align-items: center;
		}
	}

	@keyframes animation-pulse {
		from {
			transform: scale(0.5);
			opacity: 0;
		}
		to {
			transform: scale(1.15);
			opacity: 1;
		}
	}

	@keyframes ilumination-title {
		from {
			text-shadow: 0 0 0px white;
		}
		to {
			text-shadow: 0 0 6px white;
		}
	}
</style>
