---
	import SectionLayout from '../layouts/SectionLayout.astro';
	import CertSlider from '../molecules/CertSlider.astro';
---
<SectionLayout
	className="gap-8 min-h-screen"
	id="certificates-section"
	ariaLabel="Sobre mí"
>
	<div
		class="relative container mx-auto flex w-full flex-col px-4 lg:max-w-6xl"
	>
		<header class="flex flex-col justify-center items-center">
			<h2 class="text-2xl font-bold text-black dark:text-white">
				Certificados
			</h2>
		</header>
	</div>
	<div class="p-4 rounded-3xl">
		<CertSlider/>
	</div>
</SectionLayout>
