---
import Navbar from '../components/molecules/Navbar.astro';
import Footer from '../components/molecules/Footer.astro';

interface Props {
	lang: string;
}

const { lang } = Astro.props;
---

<html lang={lang}>
  <head>
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.png" />

    <title>Enmanuel Bracho | Frontend Developer</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio de Enmanuel Bracho, desarrollador frontend enfocado en React, Tailwind y Astro."
    />
    <meta
      name="keywords"
      content="Enmanuel Bracho, Ingeniería, frontend, React, TypeScript, Tailwind, Astro, desarrollador, portfolio, Venezuela, UNEFA, sistemas"
    />
    <meta name="author" content="Enmanuel Antoni Bracho Villanueva" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Language" content="es" />
  </head>
  <body data-theme>
    <script is:inline>
      function getCurrentTheme() {
        const THEME = { LIGHT: "light", DARK: "dark" };

        const saved = localStorage.getItem("theme");
        const isSavedValid = saved === THEME.LIGHT || saved === THEME.DARK;

        if (isSavedValid) return saved;

        const schemeDark = `(prefers-color-scheme: ${THEME.DARK})`;
        const prefersDark = window.matchMedia(schemeDark).matches;
        const systemTheme = prefersDark ? THEME.DARK : THEME.LIGHT;

        localStorage.setItem("theme", systemTheme);

        return systemTheme;
      }

      document.body.setAttribute("data-theme", getCurrentTheme());
    </script>

    <div id="app">
      <Navbar />

      <main>
        <slot />
      </main>

      <Footer />
    </div>

    <script>
      function toggleTitle() {
        enum TitleState {
          Hidden = "¡Te espero!",
          Visible = "Enmanuel Bracho | Frontend Developer",
        }

        document.addEventListener("visibilitychange", () => {
          const isHidden = document.visibilityState === "hidden";
          const title = isHidden ? TitleState.Hidden : TitleState.Visible;
          document.title = title;
        });
      }

      toggleTitle();
    </script>
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

  html {
    scroll-behavior: smooth;
  }

  #app {
    @apply flex flex-col min-h-[100dvh] bg-[#f0f0f0] dark:bg-[rgb(25,0,27)];
  }

  #app > main {
    @apply flex flex-1 flex-col;
  }
</style>
