---
import { Download } from "@lucide/astro";
import ScrollToProyects from "../common/ScrollToProyects.astro";
import HeroFooter from "./HeroFooter.astro";
import ContactButton from "./ContactButton.astro";

const heroLabels = {
  title: "Enmanuel Bracho",
  subtitle: "Frontend Developer",
  description:
    "Actualmente me encuentro estudiando Astro. Soy un desarrollador frontend, soy un poco friki, detallista en cuanto al diseño en general UX/UI, si me decantará por un paradigma de programación sería sin duda el funcional.",
};
---

<section class="relative w-full h-screen">
  <div
    id="hero-background"
    class="absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(125%_125%_at_50%_10%,transparent_40%,#63e_100%)] rotate-180 opacity-70"
  >
  </div>

  <div
    class="flex flex-col justify-center w-full h-full mx-auto px-4 lg:px-0 max-w-4xl md:max-w-2xl lg:max-w-4xl"
  >
    <div
      class="grid grid-cols-[1fr,auto] md:grid-cols-[repeat(2,1fr)] auto-rows-auto gap-6"
    >
      <header>
        <h1
          class="text-base-content font-bold text-lg sm:text-xl md:text-3xl lg:text-5xl"
        >
          {heroLabels.title}
        </h1>
        <p
          class="text-base-content/60 text-sm sm:text-md md:text-xl lg:text-3xl"
        >
          {heroLabels.subtitle}
        </p>
      </header>

      <article>
        <p class="text-[0.5lh] md:text-[0.65lh] text-base-content/60">
          {heroLabels.description}
        </p>
      </article>

      <HeroFooter />

      <div
        class="col-start-2 row-start-1 row-span-3 flex flex-col justify-center items-end"
      >
        <div class="flex flex-col justify-center items-center gap-2">
          <Download class="w-[65%] h-[65%]" />
          <ContactButton label={{ Icon: null, text: "Descarga mi CV" }} />
        </div>
      </div>
    </div>
  </div>

  <ScrollToProyects />
</section>

<script>
  const THEMES = {
    DARK: "dark",
    LIGHT: "light",
  } as const;

  const changeHeroBackground = (): void => {
    const currentTheme = document.documentElement.getAttribute("data-theme");
    const isDark = currentTheme === THEMES.DARK;

    const heroBackground = document.getElementById("hero-background");

    switch (isDark) {
      case true:
        heroBackground!.classList.add(
          "bg-[radial-gradient(125%_125%_at_50%_10%,transparent_40%,#63e_100%)]",
        );
        break;
      case false:
        heroBackground!.classList.remove(
          "bg-[radial-gradient(125%_125%_at_50%_10%,transparent_40%,#63e_100%)]",
        );
        break;
    }
  };

  const observer = new MutationObserver(changeHeroBackground);

  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
